link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/pages/test/style.min.css")

#test.container-fluid.page
	.row
		.bloc.col-sm-8
			h2(style='color: '+data.test['Titre'].color)
				| #{data.test['Titre'].text}
			p.row(style='color: '+data.test['Sous-titre'].color)
				| #{data.test['Sous-titre'].text}
				.button.col-sm-4.col-centered
					| Pouet
