#pages {
  padding-top: 15px;

  .page {
    display: inline-block;
    width: 200px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    border: 1px solid #dadada;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;

    h1 {
      display: inline;
    }

    &.active {
      background-color: #dadada;
      color: white;
    }
  }
}
