doctype html
html
	head
		title Freedom35 Admin
	body
		.bloc.landing
			h1 Landing page
			input(type='text' class='title' placeholder=data.landing.textTitle)
			input(type='text' class='subtitle' placeholder=data.landing.textSubtitle)
