doctype html
html
	head
		title Freedom35
	body
		include pages/landing/content.pug
		include pages/galery_photos/content.pug
		include pages/text_only/content.pug
		include pages/text_product/content.pug
