doctype html
html
	head
		title Freedom25
		link(href='/static/lib/bootstrap-3.3.7/css/bootstrap.css' rel='stylesheet')
		script(src='/pages/admin/jquery-3.2.1.min.js')
		script(src="https://unpkg.com/vue")
		script(src='static/js/controller.js')
	body
		#container
			include navs/nav1/content.pug
			if actives.test
				include pages/test/content.pug
