doctype html
html
	head
		title Freedom35
		link(href='lib/bootstrap-3.3.7/css/bootstrap.css' rel='stylesheet')
		script(src='/pages/admin/jquery-3.2.1.min.js')
		script(src='js/controller.js')
		script.
			multi = #{multi}
	body
		if (ge('Navigation.Disposition.Choix') == 'nav1')
			include navs/nav1/content.pug
		if (ge('Navigation.Disposition.Choix') == 'nav2')
			include navs/nav2/content.pug

		if (isInPages('Accueil'))
			include pages/landing/content.pug
		if (isInPages('Présentation'))
			include pages/pres/content.pug
		if (isInPages('Pricing'))
			include pages/pricing/content.pug
		if (isInPages('Présentation produit'))
			include pages/text_product/content.pug
