link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/navs/nav1/style.min.css")

#nav1.container-fluid(style='background-color: ' + ge('Navigation.Fond.Couleur') + '; border-bottom: ' + ge('Navigation.Bordure.Epaisseur') + 'px ' + ge('Navigation.Bordure.Type') + ' ' + ge('Navigation.Bordure.Couleur'))
	.row
		.logo.col-sm-4(style='color: ' + ge('Navigation.Logo.Couleur'))
			if (ge('Navigation.Logo.Image'))
				img(src=ge('Navigation.Logo.Image'))
			else
				span #{ge('Navigation.Logo.Texte')}
		ul.menu.col-sm-5.col-sm-offset-3
			.row
				each elem in gp().reverse()
					a(href='#' + gf(elem) style='color: ' + ge('Navigation.Menu.Couleur'))
						li.col-xs-4 #{elem}
