link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/navs/nav1/style.min.css")

#nav.container-fluid
	.row
		.logo.col-sm-2 Logo
		ul.menu.col-sm-5.col-sm-offset-5
			.row
				li.col-xs-3 Elem
				li.col-xs-3 Elem
				li.col-xs-3 Elem
				li.col-xs-3 Elem
