link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/navs/nav1/style.min.css")

#nav
	h1.logo Logo
	ul.menu
		li Elem
		li Elem
		li Elem
		li Elem
