#pages {
  padding-top: 15px;

  .page {
    display: inline-block;
    height: 150px;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    border: 1px solid #dadada;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;

    h1 {
      display: inline;
    }

    &.active {
      background-color: #dadada;
      color: white;
    }
  }

  .elements-wrap {
    margin-bottom: 50px;

    input {
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      border: 1px solid #dadada;
      margin-bottom: 30px;
    }

    .validate {
      @extend input;

      border: none;
      background-color: #2ecc71;
      color: white;
      text-align: center;
      cursor: pointer;
      margin-top: 15px;
    }
  }
}
