doctype html
html
	head
		title Freedom35 Admin
		link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
		link(href='/static/lib/font-awesome-4.7.0/css/font-awesome.min.css' rel='stylesheet')
		link(rel="stylesheet" href="/pages/admin/style.min.css")
		script(src='/pages/admin/jquery-3.2.1.min.js')
		script(src='http://malsup.github.com/jquery.form.js')
		script.
			old=!{JSON.stringify(data)};
		script(src='/pages/admin/controller.js')
		include _mixins.pug
	body
		#header
			a(href='/')
				.home.fa.fa-home.fa-4x

		each cat, h1 in data
			.bloc
				h1 #{h1}
				each tab, h2 in cat
					if h2 !== 'data'
						h2 #{h2}
						.collapsable
							each val in tab
								h3 #{val.name}
								if val.type === 'radio'
									+radio(h1, h2, val)
								else if val.type === 'textarea'
									+textarea(h1, h2, val)
								else if val.type === 'file'
									+file(h1, h2, val)
								else
									+text(h1, h2, val)
		.bloc
			.load-wrap
				.load
					.square
			input(type='submit' value='Enregistrer')#validate
