* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// REMOVE UPPER PART WHEN DONE PLEASE THANKS

#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #424242;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;

	.logo {
		font-family: 'Bitter', serif;
		font-size: 35px;
	}

	.menu {
		font-family: 'Raleway', Helvetica, sans-serif;
		list-style-type: none;
		font-size: 18px;

		li {
			display: inline-block;
		}
	}
}
