link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/pages/galery_photos/style.min.css")

#galery_photos.container.page
	.row
		h1
			| Un grand titre, pour un grand site.
	.row
		.col-md-4.box
			.wrap
				img(src="/pages/galery_photos/placeholder.png")
			h2
				| Une présentation propre
			p
				| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
		.col-md-4.box
			.wrap
				img(src="/pages/galery_photos/placeholder.png")
			h2
				| Des sites web rapides
			p
				| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
		.col-md-4.box
			.wrap
				img(src="/pages/galery_photos/placeholder.png")
			h2
				| Support continu
			p
				| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
