link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/pages/galery_photos/style.min.css")

#galery_photos
	.wrap
		img(src="/pages/galery_photos/placeholder.png" class="picture")
		img(src="/pages/galery_photos/placeholder.png" class="picture")
		img(src="/pages/galery_photos/placeholder.png" class="picture")
		br
		img(src="/pages/galery_photos/placeholder.png" class="picture")
		img(src="/pages/galery_photos/placeholder.png" class="picture")
		img(src="/pages/galery_photos/placeholder.png" class="picture")
		br
		img(src="/pages/galery_photos/placeholder.png" class="picture")
		img(src="/pages/galery_photos/placeholder.png" class="picture")
		img(src="/pages/galery_photos/placeholder.png" class="picture")
