link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/pages/pricing/style.min.css")

#text_only.container.page
	.row
		h1
			| Vous pouvez sortir votre CB
	.row
		p.col-md-8.col-md-offset-2
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat vulputate risus a blandit. Nunc interdum diam viverra consectetur tempor. Donec eros urna, finibus dictum velit ut, porta accumsan tellus. Curabitur non dapibus magna. Aliquam a ante mi. Vivamus aliquet tristique sapien, a pretium erat euismod id.
	.row
		.price.col-md-2.col-md-offset-2
			.row
				h1 25$
				p Oui, c'est par mois.
				.button.col-md-8.col-md-offset-2 Acheter
		.price.col-md-2.col-md-offset-1
			.row
				h1 45$
				p Oui, c'est par mois.
				.button.col-md-8.col-md-offset-2 Acheter
		.price.col-md-2.col-md-offset-1
			.row
				h1 85$
				p Oui, c'est par mois.
				.button.col-md-8.col-md-offset-2 Acheter
