link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/pages/landing/style.min.css")

#landing
	.bloc
		h1
			| Lorem ipsum dolor sit amet.
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat vulputate risus a blandit. Nunc interdum diam viverra consectetur tempor. Donec eros urna, finibus dictum velit ut, porta accumsan tellus. Curabitur non dapibus magna. Aliquam a ante mi. Vivamus aliquet tristique sapien, a pretium erat euismod id. Curabitur fermentum, ante ac scelerisque mattis, ex lacus blandit dui, finibus egestas turpis magna vel eros. Nullam porttitor rhoncus nulla, in vehicula elit egestas | at. Donec euismod accumsan bibendum. Proin et lorem sed enim euismod tristique tristique at diam.
		.button
			| Lorem ipsum
