link(href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet")
link(rel="stylesheet" href="/pages/landing/style.min.css")

#landing
	.bloc
		h1
			| #{data.landing_textTitle}
		p
			| #{data.landing_textSubtitle}
		.button
			| #{data.landing_textButton}
